@import "tailwindcss";

@theme {
  --radius: 0.5rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-dark: #1c1f27;
  --color-border-dark: #3b4354;

  --background: var(--color-background-light);
  --foreground: #0f172a; /* slate-900 */
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: #e2e8f0; /* slate-200 */
  --input: 214.3 31.8% 91.4%;
  --ring: var(--color-primary);

  --font-display: "Inter", "sans-serif";
}

.dark {
  --background: var(--color-background-dark);
  --foreground: #f1f5f9; /* slate-100 */
  --border: var(--color-border-dark);
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

/* Custom scrollbar for dark mode */
.dark ::-webkit-scrollbar {
  width: 6px;
}
.dark ::-webkit-scrollbar-track {
  background: var(--color-background-dark);
}
.dark ::-webkit-scrollbar-thumb {
  background: var(--color-border-dark);
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
